body {
    font-family: "Poppins", Helvetica, sans-serif;
    background: #000;
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 98vh;
}

.calculator {
    background-color: rgb(53, 53, 53);
    border: 1px solid rgb(85, 85, 85);
    border-radius: 45px;
    width: 500px;
    height: 600px;
}

.screen {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 45px 35px;
    border-radius: 15px;
    background: greenyellow;
}

.screen p {
    font-size: 3em;
    font-weight: 700;
    margin: 0 20px;
}

.buttons-container {
    margin: 30px;
}

.buttons-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.button {
    background-color: white;
    width: 75px;
    height: 75px;
    border-radius: 15px;
    box-shadow: inset -10px -10px 20px -21px rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: 700;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
}

.button:hover {
    box-shadow: inset 0px 0px 9px 7px rgba(0, 0, 0, 0.27);
}

#dividir,
#multiplicar,
#restar,
#suma,
#porcentaje,
#borrar {
    background-color: #8f8f8f;
    transition: background-color 0.3s ease;
}

#borrar{
    font-size: 2.5em;
}

#equals {
    background-color: #ff7b00;
    width: 165px;
    transition: background-color 0.3s ease;
}